<header class="navbar-header">
  <div class="navWrapper">
    <div class="nav-menu-large">
      <ul>
        <li class="active">
          <a href="#home">HOME</a>
        </li>
        <li>
          <a href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="nav-menu-small">
      <div class="accordionButton">MENU</div>
      <div class="accordionContent" style="display: none;">
        <a href="#home">HOME</a><br>
        <a href="#contact">CONTACT</a><br>
      </div>
    </div>
    <div class="socialMedia">
      <a href="mailto:siggarafns@gmail.com"><i class="material-icons email "></i></a>

    </div>
  </div>
</header>
