.bannerWrapper{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  /*background: rgba(0, 0, 0, 0.7);*/
  background: url('../assets/img/environment/sky.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 887px;
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease;
}

.bannerWrapper  .btn{
  display:none;
  visibility: hidden;
  color: white;
  border: 1px solid white;
  padding: 20px;
}

.ufo{
  z-index: 11;
  position:absolute;
  top: -30px;
  transition: all 1.5s;
}

.ufoGone{
  top: -50%;
  -webkit-transform: scale(0, 0);
  transform: scale(0.1, 0.1);
  opacity: 0;
}

.kitten1{
  height:200px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  bottom: 74%;
  left: 10%;
  -moz-transform:rotate(-135deg) translate(50px) scale(0.5);
  -webkit-transform: rotate(-135deg) translate(50px) scale(0.5);
  -o-transform: rotate(-135deg) translate(50px) scale(0.5);
  transform: rotate(-135deg) translate(50px) scale(0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.kitten1Rotate {
  opacity: 1;
  bottom: 20%;
  left: 15%;
  transition: all 1.5s;
  -moz-transform:rotate(-55deg) translate(50px) scale(1);
  -webkit-transform: rotate(-5deg) translate(50px) scale(1);
  -o-transform: rotate(-55deg) translate(50px) scale(1);
  transform: rotate(-55deg) translate(50px) scale(1);
  z-index: 1000;
}

.kittenMove{
  left: 100%;
}

.grass{
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  -webkit-transition: bottom 1.5s, opacity 1.5s;
  transition: bottom 1.5s, opacity 1.5s;
}

.showGrass{
  opacity: 1;
  bottom: 0;
}

.welcomeText{
  position: fixed;
  opacity: 0;
  left: -50%;
  bottom: 10%;
  font-size: 150px;
  text-shadow: 2px 4px #423632;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.moveLeft{
  left: 38%;
  opacity: 1;
}
