<div class="bannerWrapper" scrollSpy (click)="startTransition = !startTransition">


  <img class="ufo" src="../../assets/img/elements/ufo.png"
      [class.ufoGone]="startTransition" (click)="startTransition = !startTransition"
       />

  <img class="kitten1" src="../../assets/img/cats/kitten-playing.png"
        [class.kitten1Rotate]="startTransition" [class.kittenMove]="secondTransition"/>

  <img class="grass" src="../../assets/img/environment/grass.png"
        [class.showGrass]="startTransition"
  />

  <h1 class="welcomeText"
      [class.moveLeft]="secondTransition">Skrill</h1>

</div>

